body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
    background-color: #E9C9C9;
}
.row1 {
    display: flex;
    height: 88%;
    align-items: center;
    text-align: center;
}
.col{
    flex-basis: 50%;
    padding-left: 370px;
    margin-top: 30px;
}
h1{
    color: #34203c;
    font-size: 100px;
}
.card1{
    width: 250px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 2px 40px;
    box-sizing: border-box;
    cursor: pointer;
    margin:-20px 50px;
   background-color: #AA8282;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card2{
    width: 250px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 2px 40px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 50px 50px;
   background-color: #AA8282;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    font-size: 20px;
    color:rgb(0, 0, 0);
    text-shadow: 0 0 5px #34203c;
}
.card p{
    text-shadow: 0 0 5px #f6f1f1;
    font-size: 10px;
}