@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
}
/* CSS for header */
#header {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  background-color: #EDCACA; 
  padding: 2px; 
  margin: 0; 
}

#header .logo {
  font-size: 30px;
  font-family: 'Sriracha', cursive;
  color: #000;
  text-decoration: none;
  padding-left: 0px;
  margin-left: 0px;
}
html{
  scroll-behavior: smooth;
}

form {
    display: flex;
    align-items: center;
    color: #E9C9C9;
  }
  
  input[type="text"] {
    width: 700px; /* increase the width to 300 pixels */ 
    padding: 6px;
    border: 3px;
    border-radius: 10px;
  }

  

.nav-items {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #EDCACA;
  margin-left: 900px;
  font-size: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
}
/* CSS for main section */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background-color: #C8A3A3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.select-box{
  margin-top: 40px;
  width: 700px;
  position: relative; 
}
.select-option{
  position: absolute;
}
.select-option input{
  width: 100%;
  background-color: #fff;
  color: #000;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 260px;
  padding-left: 10px;
  border: 0 !important;
  outline: 0 !important;
}
.select-option:after{
  content: "";
  border-top: 8px solid #000;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  right: -250px;
  top: 70%;
  margin-top: -10px;
}
.content{
  background-color: #fff;
  position: absolute;
  color: #000;
  border-radius: 7px;
  margin-top: 40px;
  width: 100%;
  z-index: 999;
  display: none;
}
.search input{
  width: 100%;
  font-size: 15px;
  padding: 5px;
  outline: 0;
  border: 1px solid #b3b3b3;
  border-radius: 7px;
}
.options{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding: 0;
}
.options li{
  padding: 7px 10px;
  font-size: 15px;
  cursor: pointer;
  border-bottom: 0.5px solid gray;
}
.options li:hover{
  background-color: #f2f2f2;
}
.select-box.active .content{
   display: block;
}
.select-box.active .select-option::after{
  transform: rotate(-180deg); 
}
/*explore*/
.col{
    flex-basis: 50%;
    background-color: #EDCACA;
    width: 100%;
  height: 400px;
}
h1{
    color: #34203c;
    font-size: 150px;
}
.card{
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    padding: 20px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 2px 20px;
    margin-top: 50px;
    margin-left: 100px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s ;
}
.card1 {
     background-image: url(entrance.png);   
     margin-left: 150px;
}
.card2 {
     background-image: url(s2.png);   
}
.card3 {
     background-image: url(jobsearch.png);   
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    font-size: 20px;
    color:rgb(255, 255, 255);
    text-shadow: 0 0 5px #34203c;
}
.card p{
    text-shadow: 0 0 5px #f6f1f1;
    font-size: 10px;
}
/* CSS for footer */
#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 80px;
}

#footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}

.myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container{
  background-color: #EDCACA;
}
.contact-left{
  flex-basis: 35%;
}
.sub-title{
  font-size: 45px;
  margin-left: 15px;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 40px;
  color: #f6f1f1;
}
.contact-left p i{
  margin-left: 15px;
  font-size: 25px;
  color: #f6f1f1;
}
.copy{
  margin-top: 10px;
  margin-left: 20px;
}
.social-icons{
  margin-top: -130px;
  margin-left: 900px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #7a7575;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

